/* Home.css */
body.home-page {
    margin: 0;
    padding: 0;
    background-image: url('\images\space_11.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  