/* ModelDetailPage.css */
.model-detail-page {
    background-image: url('\images\bluegalaxy.jpg');
    background-size: cover;
    color: #ffffff;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .sort-buttons {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sort-buttons button {
    background-color: #29abe2;
    color: #ffffff;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .sort-buttons button:hover {
    background-color: #72a7bb;
  }
  
  .model-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .model-card {
    width: 400px;
    height: 250px;
    margin: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Add opacity transition */
    transform-origin: center bottom;
    opacity: 0; /* Set initial opacity to 0 */
    background-color: #020609;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .model-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
  
  .model-card h3 {
    color: #29abe2;
    font-size: 1.8rem;
  }
  
  .model-card p {
    color: #ffffff;
  }
  
  .sort-info {
    color: #29abe2;
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  /* Add a class to trigger the transition */
  .model-detail-page.loaded {
    opacity: 1;
  }
  
  /* Add a class to trigger the transition for cards */
  .model-detail-page.loaded .model-card {
    opacity: 1;
  }
  