/* ModelDetail.css */
.custom-model-detail-container {
    background: url('https://i.pinimg.com/564x/a6/1e/39/a61e39571a62a9ea556a43afc8c81336.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-model-detail-container .custom-model-detail-title {
    color: #fdfdfd;
    font-size: 2rem;
    font-weight: bold;
}

.custom-model-detail-container img.model-image {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.custom-model-detail-container p.custom-model-detail-description,
.custom-model-detail-container p.custom-model-detail-code,
.custom-model-detail-container p.custom-model-detail-potential-use-cases,
.custom-model-detail-container p.custom-model-detail-provider {
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
}

.custom-model-detail-container button {
    background-color: #29abe2; /* Light blue background for the spaceship button */
  color: #ffffff; /* White text color */
  border: none;
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.custom-model-detail-container button:hover {
    background-color: #1c7da2; /* Darker green on hover */
}
